In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
a = pd.read_csv('Iris_Data.csv')
a.head(110)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
105           7.6          3.0           6.6          2.1  Iris-virginica
106           4.9          2.5           4.5          1.7  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
108           6.7          2.5           5.8          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica

[110 rows x 5 columns]

((13+8+9)/30)*100

In [30]:
x = a.iloc[:,:4].values

In [31]:
y = a.iloc[:,4].values

In [46]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder_y = LabelEncoder()
y = LabelEncoder_y.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int32)

In [34]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [35]:
from sklearn.linear_model import LinearRegression
l = LinearRegression()
l.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
c = l.intercept_
c

0.3065046633417525

In [38]:
m = np.array(l.coef_)
m

array([-0.16271031, -0.01811365,  0.27298626,  0.56824109])

In [ ]:
x1 = float(input("sepal_length"))
x2 = float(input("sepal_width"))
x3 = float(input("petal_length"))
x4 = float(input("petal_width"))
z = m[0]*x1+m[1]*x2+m[2]*x3+m[3]*x4+c
if z >= 0 and z < 0.5:
    print("setosa")
elif z > 0.5 and z < 1.5:
    print("versicolor")
elif z > 1.5:
    print("virginica")